<h1>Messages#new</h1>
<p>Find me in app/views/messages/new.html.erb</p>
<div class= "form-container">
<div class="container">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <div class="form-wrapper">
        <h2 class="text-center">Send a message</h2>
        <%= simple_form_for([@user, @message]) do |f| %>
          <div class="form-inputs">
            <%= f.input :content, required: false, autofocus: true %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "send message", class: 'btn-form'  %>
          </div>
        <% end %>

      </div>
    </div>
    <div class="col-xs-2"></div>
  </div> <!-- close row -->
</div> <!-- close container -->
</div>

