#map {
  margin-top: 70px;
}

.center {
  text-align: center;
}

.index-search-wrapper {
  background: $grey;//linear-gradient($yellow, $white);
  padding: 20px;
  color: $white;
  font-size: 14px;
  text-align: center;
  position: relative;
  opacity:0.7;
}

.index-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
}

.search-column {
  margin: 10px;
}

.search-button {
  padding-top: 25px;
}

.gender-div {
  padding-top: 20px;
}

.advanced_search {
  padding-top: 10px;
}

.basic_search {
  margin: 0px;
  padding: 0px;
}

#advanced-button {
  color: $white;
  opacity: 1;
  text-decoration: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  &:hover {
    opacity: 0.8;
  }
}

.hide {
    display: none;
}
 .alert-user-empty{
  color: #0d0b0bad;
 }

 .map-home{
  margin-bottom:20px !important;
  margin-top:20px;
 }

.black-stars {
  color: black;
  font-size: 0.7em
}

.blue-stars {
  color: $blue;
  font-size: 0.7em
}

