.btn-blue {
  padding: 12px 20px;
  border-radius: 100px;
  background-color: $blue;
  opacity: 0.85;
  color: $white;
  font-size: 1.3em;
  &:hover {
    opacity: 1;
    text-decoration: none;
    color: $white;
  }
}

.btn-basic {
  padding: 12px 20px;
  border-radius: 100px;
  background-color: $yellow;
  opacity: 0.85;
  color: $red-brown;
  font-size: 1.3em;
  &:hover {
    opacity: 1;
    text-decoration: none;
    color: $red-brown;
  }
}
